In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df_salary = pd.read_csv('Dataset_2780.csv')
df_salary

    YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391

In [3]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  29 non-null     float64
 1   Age              29 non-null     float64
 2   Salary           29 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 824.0 bytes

In [4]:
df_salary.isna().sum()

YearsExperience    0
Age                0
Salary             0
dtype: int64

In [5]:
df_salary.shape

(29, 3)

In [6]:
train = df_salary[:26]
test = df_salary[26:]

In [7]:
print(train.shape)
print(test.shape)

(26, 3)
(3, 3)

In [8]:
X_train = train[['YearsExperience']]

y_train = train['Salary']

In [9]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [10]:
print(linreg.coef_)
print(linreg.intercept_)

[9716.25649808]
24812.705710761205

In [11]:
X_test = test[['YearsExperience']]

y_test = test['Salary']

In [12]:
predict = linreg.predict(X_test)

predict

array([117117.14244249, 118088.7680923 , 124890.14764095])

In [13]:
y_test

26    116969
27    112635
28    122391
Name: Salary, dtype: int64